In [4]:
x = ['venkat',10,1.5,'azmi']  # list it allows all kinds of data
y = [1,2,3,4,5]  #list
print(x[2])

1.5

#python for loops are called iterators

In [5]:
for i in x:
    print(" i "+str(i)) # exclusive string conversion required while printing when the print statement begins with a default string value
    print(i)  # interpretor will convert the value of i to string for all numeric/float values

 i venkat
venkat
 i 10
10
 i 1.5
1.5
 i azmi
azmi

In [2]:
for x in range(5):
    print(x)

0
1
2
3
4

In [3]:
for x in range(5,10):  # to loop through a range of values
    print(x)

5
6
7
8
9

#for loop over a list

In [5]:
lis = ['jan','feb','mar','apr','may']
for j in lis:
    print(j)

jan
feb
mar
apr
may

# we can add index value in for loop as shown below

In [7]:
for k,l in enumerate(lis):  # enuerate will return the object value and its positional index as shown
    print(' index '+str(k)+' value '+l)

 index 0 value jan
 index 1 value feb
 index 2 value mar
 index 3 value apr
 index 4 value may